{% extends "base.html" %}
{% block title %}User Requests{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">TaskManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.admin_dashboard') }}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.performance') }}">Performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.employees') }}">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.view_requests') }}">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <h1>User Requests</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.username }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <div class="d-flex">
                      {% if request.status == 'pending' %}
                      <form action="{{ url_for('auth.approve_request', request_id=request.id) }}" method="post" style="display: inline;">
                          <button type="submit" class="btn btn-sm btn-success">Approve</button>
                      </form>
                      <form action="{{ url_for('auth.disapprove_request', request_id=request.id) }}" method="post" style="display: inline;">
                          <button type="submit" class="btn btn-sm btn-danger">Disapprove</button>
                      </form>
                      {% endif %}
                      <form action="{{ url_for('auth.delete_request', request_id=request.id) }}" method="post" style="display: inline;">
                          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
